#select-container, #map-container {
  display: flex;
  justify-content: center;
}

#select-container select {
  margin: 10px;
  width: 1028px;
  height: 50px;
  margin: 10px 0px;
  padding: 10px 0px;
}

#map-board {
  overflow: scroll;
  margin: 10px;
  border: 1px solid;
  height: 500px;
  width: 700px;
}

#map-info {
  margin: 10px;
  border: 1px solid;
  height: 500px;
  width: 300px;
}

#map-info p {
  margin-left: 10px
}